.react-datepicker__input-container {
  width: 100%;
}

label {
  margin-bottom: 0.3rem !important;
}

.gear-icon {
  font-size: 36px;
  margin: 10px;
  float: right;
}

.gear-icon:hover {
  cursor: pointer;
}